# Output Folders and Files #
/bin/
/testbin/
/dist/
/build/


.classpath
build.properties
build.xml
sysProps.xml

*.class

# Package Files #
*.jar
*.war
*.ear

# SVN from Google Code #
.svn/
